/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Boogaloo', cursive;
font-family: 'Allan', cursive; */

.jumbotron{
    text-align: center;
    border: 10%, 20%;
    background-color: rgb(209, 188, 130, .5);
}
h1{
    font-family: 'Boogaloo', cursive;
    color:rgb(59, 63, 73);
    font-weight: bold;
}
#survey{
    color:rgb(59, 63, 73);
    background-color:rgb(255, 255, 255, .7);
}
h4{
    font-size: 25px;
      
}

.btn-lg{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(59, 63, 73);
    width: 20%;
    color: white;
}
 #link a:link{
    color:white;
    font-family: 'Archivo Narrow', sans-serif;
} 
/* a:link {
    color:white;
    font-family: 'Archivo Narrow', sans-serif;
} */
